/*home animation*/
.home {
    animation-name: fadein;
    animation-duration: 10s;
}

.message__home__title {
    animation-name: title;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.message__home__text {
    animation-name: title;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes title {
    0% {
        color: #ecf0f1;
    }

    50% {
        color: black;
    }

    100% {
        color: #ecf0f1;
    }
}

@keyframes text {
    0% {
        color: #ecf0f1;
    }

    50% {
        color: black;
    }

    100% {
        color: #ecf0f1;
    }
}


/*about animation*/
.about__text {
    animation-name: movedown;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

@keyframes movedown {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.about__image {
    animation-name: moveup;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

@keyframes moveup {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

/*blog link animation*/
.blog__link__wrapper:nth-child(2n) {
    animation-name: grow-even;
    animation-duration: 1s;
}

.blog__link__wrapper:nth-child(2n-1) {
    animation-name: grow-odd;
    animation-duration: 1s;
}

@keyframes grow-even {
    0% {
        transform: translateX(-500%);
    }

    100% {
        transform: translateX(0%);
    }

}

@keyframes grow-odd {
    0% {
        transform: translateX(500%);
    }

    100% {
        transform: translateX(0%);
    }
}

/*prodcut__content*/
.product__content {
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0, 0);
    }

    50% {
        transform: rotate(720deg) scale(2, 2);
    }

    100% {
        transform: scale(1, 1);
    }
}