body {
  margin: 0;
}

/************************************
Menu Component
*************************************/

/*top level container*/
.menu {
  background-color: #333;
  overflow: hidden;
}

/*child container*/
.menu__container {
  margin: 0px;
  padding: 0px;
}

/*menu items*/
.menu__item,
.menu__item--ham,
.menu__item--active {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  list-style-type: none;
  /*
  vertical-align: middle;
  */
}

/*hamburgher item*/
.menu__item--ham {
  display: none;
  float: right;
  /*
  position: absolute;
  */
  right: 0;
  top: 0;
}

/*active item*/
.menu__item--active {
  background-color: #04AA6D;
  color: white;
}

/*psuedo class*/
.menu__item:hover {
  background-color: black;
}

/*responsive*/
@media screen and (max-width:600px) {

  .menu {
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .menu__item {
    display: none;
  }

  .menu__item--ham {
    display: block;
    position: absolute;
  }

  .menu__item--active,
  .menu__item--spread {
    display: block;
    float: none;
    text-align: left;
    z-index: 2;

  }
}

/************************************
Content
*************************************/
.content {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background: #ecf0f1;
  /*
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  */
}

/************************************
Home Component
*************************************/
.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  flex: 1;
}

.home__wrapper__content {
  max-width: 50%;
  /*filter: blur(3px);*/
}

@media screen and (max-width:600px) {
  .home {
    flex-direction: column;
  }

  .home__wrapper__content {
    max-width: 100%;
  }
}

/************************************
Message Component
It will be rendered with Home Component.
*************************************/
.message {
  position: fixed;
  width: 35%;
  border: solid 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font: bold;
  color: #f1f1f1;
  font-size: 17px;
  text-align: center;
}

@media screen and (max-width:1024px) {
  .message {
    width: 55%;
    top: 15%;
    transform: translate(-50%, 0%);
  }
}

@media screen and (max-width:600px) {
  .message {
    width: 80%;
    top: 15%;
    transform: translate(-50%, 0%);
  }
}

/***********************************
Footer Component
************************************/
.footer {
  /*prevent Message overlapping footer*/
  position: absolute;
  z-index: 3;

  width: 100%;
  background-color: #333;
  /*min-height: 50px;*/
  text-align: center;
}

.footer__message {
  background-color: #111;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 17px;
}

.footer__content {
  /*
  background-color: #555;
  */
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.footer__content__map {
  color: #f3f3f3;
  font-size: 17px;
  /*text-align: left;*/
  padding: 14px 14px;
}

.footer__content__map,
.footer__content__about,
.footer__content__icon {
  flex: 1
}

.map__company {
  text-decoration: underline;
}

.map__address {
  font-size: 12px;
}

.icon__wrapper {
  display: inline-block;
  margin-right: 17px;
}

.icon--default-color {
  color: #f3f3f3;
}

.icon--default-color:hover {
  /*color: dodgerblue;*/
  color: lime;
}

.icon__message {
  color: #f3f3f3;
  font-size: 17px;
}

.about__title {
  color: #f3f3f3;
  font-size: 17px;
}

.about__message {
  color: #f3f3f3;
  font-size: 12px;
}

@media screen and (max-width:850px) {
  .footer__content {
    display: flex;
    flex-direction: column;

  }

  .footer__content__about,
  .footer__content__icon,
  .footer__content__map {
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    /*padding: 5px 2px;*/
    padding: 5px;
    border-top: solid 1px white;
  }

  .about__title,
  .icon__message,
  .map__company {
    padding-bottom: 5px;
  }
}

/*****************************
BlogList Component
****************************/
.blog__section {
  min-height: 80vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.blog__list {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  row-gap: 20px;
}

.blog__link__wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  height: 350px;
  border: 4px;
  /*border-radius: 10%;*/
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.blog__link__when {
  color: #999;
  font-size: 0.8rem;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
}

.blog__link__desc {
  width: 90%;
  margin: 0 auto;
}

.blog__link__title {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.blog__link__summary {
  font-size: 14px;
  word-break: break-word;
}

.blog__link__summary:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 220px, white);
}

.blog__link__img__wrapper {
  width: 100%;
  height: 40%;
}

.blog__link__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__link__img--logo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.blog__link__read {
  display: block;
  position: absolute;
  width: 30%;
  height: 10%;
  left: 65%;
  top: 87%;
  background-color: #1ABC9C;
  border: none;
  color: #fff;
  opacity: 0.8;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.blog__link__read:hover {
  background-color: orange;
  opacity: 1;
}

@media screen and (max-width:1100px) {
  .blog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width:950px) {
  .blog__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width:750px) {
  .blog__list {
    grid-template-columns: 1fr;
  }

  .blog__link__wrapper {
    width: 80%;
    height: 300px;
  }

  .blog__link__title {
    text-align: left;
  }

  .blog__link__img--logo {
    object-fit: cover;
  }
}



/*
.blog__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog__link__wrapper {
  width: 20%;
  height: 400px;
  margin-top: 20px;
  margin: 20px 20px;
  border: 4px;
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.blog__link__img__wrapper {
  width: 100%;
  height: 50%;
}

.blog__link__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/

/*****************************
BlogContent Component
****************************/
.blog__content {
  background-color: #f3f3f3;
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
*/
}

/*BLOG JSX Elements*/
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

article p,
article h1,
article h2 {
  width: 60%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article h1 {
  text-align: center;
  /*background-color: #EFEFEF;*/
  background-color: #EAEAEA;
  border-bottom: solid 2px darkblue;
}

article h2 {
  padding-left: 15px;
  background-color: #EEEEEE;
  border-left: solid 5px darkblue;
}

p img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.back__icon {
  position: fixed;
  top: 15%;
  left: 80%;
  display: block;
  width: 50px;
  font-size: 1.1rem;
  color: #1ABC9C;
  opacity: 0.33;
}

.back__icon:hover {
  opacity: 1;
}

@media screen and (max-width:1000px) {
  .back__icon {
    left: 90%;
  }

  article p,
  article h1,
  article h2 {
    width: 80%;
  }

}

@media screen and (max-width:600px) {
  .back__icon {
    left: 78%;
    /*top: 75%;*/
  }
}


/*****************************
About Component
****************************/
.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  flex: 1;
  /*
  background-color: #DDD;
*/
  background-color: #f3f3f3;

}

.about__wrapper__content {
  width: 33.3%;
  font: bold;
}

.about__text {
  display: flex;
  flex-direction: column;
  /*
  justify-content: center;
  */
  align-items: center;
  /*
  color: #f1f1f1;
  */
  font-size: 17px;

}

.about__text__title {
  width: 85%;
  /*
  padding-left: 10px;
  padding-right: 10px;
  */
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #EEE;
  border-left: solid 5px darkblue;
  padding-left: 20px;
}

.about__text--content {
  width: 90%;
}

@media screen and (max-width:1200px) {
  .about__text {
    font-size: 14px;
  }
}

@media screen and (max-width:850px) {
  .about {
    flex-direction: column;
    /*
    background-color: #333;
    color: #f3f3f3;
    */

  }

  .about__text {
    font-size: 17px;
  }

  .about__wrapper__content {
    width: 100%;
    min-height: 300px;
    justify-content: center;
  }
}